.songcard-container{
    height: 20vh;
    width: 11%;
    min-width: 100px;
    margin-left: 2%;
    margin-top: 2vh;
    overflow: hidden;
    font-size: 1.8vh;
    font-family: Lato,sans-serif;
    text-align: center;
    color: rgb(37, 35, 35);
    cursor: pointer;
}
.songcard-inner-container{
    height: 15vh;
    width: 100%;
    border-radius: 1vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

}
.songcard-playscreen{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: rgb(237, 231, 231);
}
.songcard-playscreen:hover{
    opacity: 0.7;
}